<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Shopping list</title>
  <link rel="stylesheet" href="style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>

<body>
  <h1>Todo list</h1>

  <div class="list">
    <ul class="list-group shoppingList">
    <%
      for (item in list) {
        %>
      <li class="list-group-item">
        <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
        <span>
          <%= list[item] %>
        </span>
      </li>
    <%
    }
    %>
      <li class="list-group addItem">
          <input type="text" name="newItem" value="" class="form-control" autocomplete="off">
          <button type="button" name="addItem" class="btn btn-primary">Add!</button>
      </li>
    </ul>

  </div>

<script src="index.js" charset="utf-8"></script>

</body>

<